.wrapper {
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 43px;
}
.wrapper:hover, .wrapper.isDragging {
  border-radius: 4px;
  background: var(--c-black-light);
  padding: 0 6px;
  margin-left: -6px;
  margin-right: -6px;
}

.wrapper.isDragging {
  border: 1px dashed var(--local-color);
}

.avatar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  width: 31px;
  border-radius: 16px;
  background: var(--c-accent);
  margin-right: 12px;

  text-transform: uppercase;
  color: var(--c-black);
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 12px;
  overflow: hidden;
}
.content > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notes {
  margin-top: 2px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.actions {
  pointer-events: none;
  flex-shrink: 0;
  display: flex;
}
