.wrapper {
  height: 100%;
  padding: 25px;
  display: grid;
  grid-template-columns: 242px 1fr;
  grid-gap: 25px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: var(--c-primary);
  margin-bottom: 20px;
}

.fields {
  flex-grow: 1;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottomSection .goButton {
  border: 1px solid var(--c-primary);
  height: 32px;
  padding: 0 20px;
  background: transparent;
  border-radius: 4px;
  color: var(--c-primary);
  font-size: 16px;
}
.bottomSection .goButton:hover:not([disabled]) {
  background: var(--c-primary);
  color: var(--c-black);
}
.bottomSection .goButton[disabled] {
  cursor: auto;
  opacity: 0.3;
}

.bottomSection .versionColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bottomSection .version {
  opacity: 0.5;
}
.bottomSection .versionIsUpdated {
  margin-top: 3px;
  font-size: 14px;
  color: var(--c-primary);
}
.bottomSection .versionIsUpdated.error {
  color: var(--c-error);
}
.bottomSection .updateButton {
  margin-top: 8px;
  border: 1px solid var(--c-success);
  padding: 3px 6px;
  background: transparent;
  border-radius: 4px;
  color: var(--c-success);
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.bottomSection .updateButton:hover {
  background: var(--c-success);
  color: var(--c-black);
}
