.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 107px;
}
.wrapper + .wrapper {
  margin-top: 20px;
}
.wrapper.dontGrow {
  flex-grow: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.title {
  color: var(--local-color);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.88;
  font-weight: 700;
  margin-right: 12px;
  min-width: 40px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.actions {
  display: flex;
  min-width: 0;
  margin-right: 1px; /* fix missing right border */
}
.actions button {
  font-size: 12px;
  border: 1px solid var(--local-color);
  border-radius: 2px;
  color: var(--local-color);
  background: transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.actions button:hover {
  border-color: transparent;
  color: var(--c-black);
  background: var(--local-color);
}
.actions button + button {
  margin-left: 8px;
}

.block {
  flex-grow: 1;
  border: 1px solid var(--local-color);
  border-radius: 8px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  min-height: 75px;
}

.users {
  flex-grow: 1; /* for full drag & drop area */
  padding: 0 6px;
  margin: -2px -6px; /* -2px compensates for `padding: 2px 0`at UserItem */
  overflow-y: auto;
  overflow-x: hidden;
}
