html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;

  /* app-ish feeling */
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

::selection {
  color: var(--c-white);
  background: var(--c-primary);
}

body {
  color: var(--c-white);
  background: var(--c-black);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

button {
  cursor: pointer;
}
